/* VideoDetailComponent's private CSS styles */
  label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  video{
    width: 100%;
    height: auto;
  }
  
  .btn-primary
  {
    background-color: rgb(26, 94, 126) ;
    margin-left:10px;
  }

  .title
  {
    font-size:1.5em;
  }
  .description
  {
    font-size:1.3em;
  }

  .jumbotron
  {
    background-color: rgb(0, 0, 0) ;
    color:rgb(255, 255, 255) ;   
    padding:10px;
  }